.header {
    background-color: rgb(10, 10, 29);
    color: rgb(245, 245, 245);    
    height: 40px;    
    align-items: center;
    text-align: center;
    top:0;
    display: grid;
    position: sticky;
}

.header span {
    align-items: center;
}
